<!DOCTYPE html>
<html>
  <%- include('partials/headallfilms.ejs', { title: 'Online filmgyujtemeny' }) %>
</head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <p>Filter</p>
    <form name="searchform" action="/searchFilms" method="POST" >
      <label for="cimsearch">Cim:</label><input name="cimsearch" id="cimsearch" type="text" pattern="[a-zA-Z]*" required>
      <label for="zsanersearch">Zsaner:</label><input name="zsanersearch" id="zsanersearch" type="text" pattern="[a-zA-Z]*" required>
      <label for="evmin">Min Ev:</label><input name="evminsearch" id="evmin" type="number" required>
      <label for="evmax">Max Ev:</label><input name="evmaxsearch" id="evmax" type="number" required>
      <input type="submit" value="Filter" id="submit3">
    </form>
    <h1>Posted Films</h1>
    <% if (filmek.length) { %>
      <table>
        <tr><th>Cim</th><th>Ev</th><th>Reviews</th><th>Boritokep</th></tr>
        <% filmek.forEach((films) => { %>
          <div id="divrowjq"><tr id="rowjq" onclick="getMessage(<%= films.id %>)">
            <td id="markajq"><%= films.cim %></td>
            <td id="varosjq"><code><%= films.ev %></code></td>
            <td id="reviewjq"><a href = "/films/<%= films.id %>">Reviews</a></td>
            <td id="kepjq"><img id="keep/<%= films.id %>" src="/uploadDir/<%= films.boritokep %>" alt="<%= films.boritokep %>"></td>
          </tr>
          </div>
        <% }) %>
      </table>
    <% } else { %>
      <p class="message">No films to show</p>
    <% } %>

    <h2>Details of selected row</h2>
    <div class="elrejtett" id="elrejtett"></div>

  </body>
</html>