<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>reviewspage</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <script src="/public/ajax.js" type="text/javascript">
  
    </script>
  </head>
  <body>
    <div id="navbar">
      <span><a href="/">films</a></span>
    </div>

<form name="reviewuploadform" action="/uploadReview" method="POST" enctype="application/x-www-form-urlencoded">
  <p>Accept Review</p>
  <label for="feltoltesid">Film ID:</label><input type="number" name="feltoltesid" id="feltoltesid" required>
  <label for="feltoltesleiras">Leiras:</label><input type="text" name="feltoltesleiras" id="feltoltesleiras" required>
  <label for="feltoltesrating">Rating:</label><input type="number" name="feltoltesrating" id="feltoltesrating" required>
  <input type="submit" value="post" id="submit2">
</form>

<% if (reviewstemp.length) { %>
  <p>Number of unaccepted reviews: <%= reviewstemp.length %></p>
  <table>
    <tr id="reviewheader"><th>Leiras</th><th>Rating</th><th>Felhasznalo</th><th>Status</th><th>FilmID</th><th>Torles</th></tr>
  <% reviewstemp.forEach((reviewtemp) => { %>
      <tr id="reviewtemp<%= reviewtemp.id %>">
        <td><%= reviewtemp.reviewstext %></td>
        <td><code><%= reviewtemp.rating %></code></td>
        <td><%= reviewtemp.felhnev %></td>
        <td><%= reviewtemp.status %></td>
        <td><%= reviewtemp.filmid %></td>
        <td><button id="reviewdelete/<%= reviewtemp.id %>" onclick="reviewtempdel(<%= reviewtemp.id %>)">Reject</button></td>
      </tr>
  <% }) %>
    </table> 
<% } %>
</body>

</html>